body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size: 50px;
    text-transform: uppercase;
    font-family:monospace
}
p{
    font-size: 20px;
}
a{
    color: aqua;
}